<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>首页</title>
	<link rel="stylesheet" href="../assets/bootstrap-4.6.1-dist/bootstrap-4.6.1/dist/css/bootstrap.css">
	<link rel="stylesheet" href="../assets/css/vendor/Style_szl_homepage.css">
	<link rel="stylesheet" href="../assets/css/vendor/demo.css">
	<link rel="stylesheet" href="../assets/css/vendor/theme.css">
	<link rel="shortcut icon" href="../assets/img/shorticon.png">
	<!--头条位置-->
	<style>
		.carousel_item_size {
			width: 100%;
		}
		.padding_for_card{
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 10px;
		}
		.no_padding{
			padding-left: 0;
			padding-right: 0;
		}
		.divider{
			height:0;
			margin:.1rem 0 5rem;
			overflow:hidden;
			border-top:1px outset #cc3300;
			opacity: 30%;
			finishopacity:0;
			style:2;
		}
		.divider_for_card{
			height:0;
			margin:.5rem 0 1rem;
			overflow:hidden;
			border-top:1px outset #cc3300;
			opacity: 30%;
			finishopacity:0;
			style:2;
		}
	</style>
</head>
<body class="" >

<!--头部导航-->
<div class="container no_padding" style="width: 100%;max-width: 2200px">

	<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #f0ad4e;">
		<div style="margin-left: max(20%,5rem)">
			<a class="navbar-brand" style="color: black;" href="../../FromOn99MuBan/OriginMenu/on99/FirstSee.html"><img src="../assets/img/back.png" style="width: 5rem;height: 5rem;"></a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="background-color: #f0ad4e">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar" style="background-color: #f0ad4e;opacity: 50%">

			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="Preserve.html" style="color: black;" >预约挂号</a>
				</li>
				<li class="nav-item">
					<a id="go_dpm_guide" class="nav-link" style="color: black" >科室导航</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="resume.html" style="color: black;" >求职通道</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="ArticleList.html" style="color: black" onclick="goBillboard()">医院公告</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="ArticleList.html" style="color: black" onclick="goNews()">动态新闻</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="ArticleList.html" style="color: black" onclick="goKnowledge()">健康科普</a>
				</li>
			</ul>
		</div>
	</nav>
</div>


<!-- 轮播窗口（新闻头条）-->
<div class="container-fluid no_padding" style="width: 100%;max-width: 2200px;" >
<div class="home_inter_part spotlight bg-cover bg-size--cover">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<!--三个选择框-->
	<ul class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleControls" data-slide-to="1"></li>
		<li data-target="#carouselExampleControls" data-slide-to="2"></li>
	</ul>
	<!--图片-->
	<div class="carousel-inner carousel_item_size">
		<div class="carousel-item active">
			<a href="article.html" onclick="gotoart('1567842159154667521')">
				<img class="d-block w-100 align-content-center" src="../assets/img/demo/slide001.jpg"  alt="First slide" >
			</a>
		</div>
		<div class="carousel-item" >
			<a href="article.html" onclick="gotoart('1572806052436213762')">
				<img class="d-block w-100 align-content-center" src="../assets/img/demo/hvslide002.jpg" alt="Second slide">
			</a>
		</div>
		<div class="carousel-item">
			<a href="article.html" onclick="gotoart('1572806675311329282')">
				<img class="d-block w-100 align-content-center" src="../assets/img/demo/hvslide003.jpg" alt="Third slide">
			</a>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
</div>
</div>

<!--分割线-->
<div class="container-fluid" style="width:100%;max-width: 1400px;">
	<div class="divider"></div>
</div>

<!--一堆入口 TODO 图片弄好看点-->
<div class=" spotlight bg-cover bg-size--cover home_inter_part">
<div class="container" style="width: 95%;">
	<div class="row justify-content-center">
		<a href="Schedule_and_search.html">
			<div class="padding_for_card home_entry_for_card col-2">
				<img class="" src="../assets/img/demo/richeng.png" alt="" style="width: auto;height: 210px">
				<p>日程查询</p>
			</div>
		</a>
		<a href="Preserve.html">
			<div class="padding_for_card home_entry_for_card col-2">
				<img class="" src="../assets/img/demo/guahao.png" alt="" style="width: auto;height: 210px;">
				<p>预约挂号</p>
			</div>
		</a>
	</div>
</div>
</div>

<!--分割线-->
<div class="container-fluid" style="width:100%;max-width: 1400px;">
	<div class="divider"></div>
</div>

<!--科室导航-->
<div id="dpm_guide" class="container-fluid home_inter_part" style="width: 75%;max-width: 1800px">
	<h3 class="" style="padding-left: 20%">科室导航</h3>

	<div class="row" style="margin-bottom: 0">
		<div class="col-8 offset-2">
			<img id="dpm_img" :src="'../assets/img/officePic/'+img+'.jpg'" style="max-width:100%;height:560px;min-width:100%">
		</div>
		<div class="col-12">
			<p class="text-center" style="color: #f0ad4e;margin-top: 0.5rem">{{ name }}</p>
		</div>
	</div>

	<div class="row guide_inter_row justify-content-center" v-for="list in dpmList.data">
		<!--在change_img_html中根据元素id改变图片-->
		<div class="col-lg-2" v-for="(dpm,i) in list">
			<a href="department.html" style="text-decoration: none"><button :id=i class="btn btn-block btn-outline-secondary shadow-sm" @mouseenter="ChangeImgHtml(dpm.id,dpm.officeName);" @click="go_office(dpm.id,dpm.officeName)">{{ dpm.officeName }}</button></a>
		</div>
	</div>
</div>

<!--分割线-->
<div class="container-fluid" style="width:100%;max-width: 1400px;">
	<div class="divider"></div>
</div>


<!--文章入口，卡片实现-->
<div id="article_card" class="home_inter_part spotlight bg-cover bg-size--cover container" style="width: 85%;max-width: 2000px">
<div class="row justify-content-center">
	<div class="card img-fluid home_article col-3 border-0 shadow">
		<img class="card-img-top" src="../assets/img/demo/1.jpg" alt="Card image">
		<div class="">
			<a href="ArticleList.html" onclick="goNews();" style="text-decoration: none;color: black">
				<h3 style="margin: 0.3rem 0 0.3rem 0">动态新闻</h3>
			</a>
			<!--分割线-->
			<div class="container-fluid no_padding" style="width:100%;max-width: 1400px;">
				<div class="divider_for_card"></div>
			</div>
			<div v-for="n in this.news.data">
				<a href="article.html" @click="gotoart(n.id);goNews();" style="text-decoration: none;color: black"><p class="card-text" style="margin-bottom: 0.8rem">{{ n.title}}</p></a>
			</div>
		</div>
	</div>
	<div class="card img-fluid home_article col-3  border-0 shadow">
		<img class="card-img-top" src="../assets/img/demo/2.jpg" alt="Card image">
		<div class="">
			<a href="ArticleList.html" onclick="goBillboard();" style="text-decoration: none;color: black">
				<h3 style="margin: 0.3rem 0 0.3rem 0">医院公告</h3>
			</a>
			<!--分割线-->
			<div class="container-fluid no_padding" style="width:100%;max-width: 1400px;">
				<div class="divider_for_card"></div>
			</div>
			<div v-for="n in this.billboard.data">
				<a href="article.html" @click="gotoart(n.id);goBillboard();" style="text-decoration: none;color: black"><p class="card-text" style="margin-bottom: 0.8rem">{{ n.title}}</p></a>
			</div>
		</div>
	</div>
	<div class="card img-fluid home_article col-3  border-0 shadow">
		<img class="card-img-top " src="../assets/img/demo/3.jpg" alt="Card image">
		<div class="">
			<a href="ArticleList.html" onclick="goKnowledge();" style="text-decoration: none;color: black">
				<h3 style="margin: 0.3rem 0 0.3rem 0">健康知识</h3>
			</a>
			<!--分割线-->
			<div class="container-fluid no_padding" style="width:100%;max-width: 1400px;">
				<div class="divider_for_card"></div>
			</div>
			<div v-for="n in this.health.data">
				<a href="article.html" @click="gotoart(n.id);goKnowledge();" style="text-decoration: none;color: black"><p class="card-text" style="margin-bottom: 0.8rem">{{ n.title}}</p></a>
			</div>
		</div>
	</div>
</div>
</div>

<!--底部导航栏-->
<div class="container-fluid no_padding" style="width: 100%;max-width: 2200px">
	<footer class="pt-5 pb-3 footer footer-dark" style="background-color: #f0ad4e;color: black">
		<div class="container" >
			<div class="row">
				<div class="col-12 col-md-4">
					<div class="pr-lg-5">
						<h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>课程设计</strong> by sun,on99</h1>
						<p> 此处可以添加一些医院的信息地址邮编啥的</p>
						<p>地址：南京市玄武区孝陵卫南京理工大学</p>
						<p>邮编：000000</p>
						<p>邮箱:666@gmail.com</p>
						<p>电话:123456789</p>
					</div>
				</div>
				<div class="col-6 col-md">
					<h5 class="heading h6 text-uppercase font-weight-700 mb-3">友情链接</h5>
					<ul class="list-unstyled text-small">
						<li><a class="" href="http://www.china-pharmacy.com/" style="color: black">中国药房</a></li>
						<li><a class="" href="https://fuwu.nhsa.gov.cn/" style="color: black">国家医保服务平台</a></li>
						<li><a class="" href="https://www.yaozh.com/" style="color: black">药智网</a></li>
						<li><a class="" href="http://www.a-hospital.com/" style="color: black">a+医学百科</a></li>
						<li><a class="" href="https://www.mvyxws.com/" style="color: black">医学微视</a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<div class="pr-lg-5">
						<h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>课程设计</strong> by sun,on99</h1>
						<p>Copyright 晖神医院 All Rights Reserved.</p>
						<p>本站内容仅供参考，不作为诊断及医疗依据</p>
						<p>京ICP 备 xxx号</p>
						<p>文保网安备案号：xxxxxxx</p>
						<p>京卫网审字【xxxx】第xxx号</p>
						<p>网站建设：on99，lwindsy</p>

					</div>
				</div>
			</div>
			<hr>
			<div class="d-flex align-items-center">
              <span class="">
                &copy; 2022 <a href="https://cs.njust.edu.cn" class="footer-link" target="_blank">njust cs faculty</a>. All rights reserved.
              </span>
			</div>
		</div>
	</footer>
</div>

<!--引入的js-->
<script src="../assets/js/vendor/jquery.min.js"></script>
<script src="../assets/bootstrap-4.6.1-dist/bootstrap-4.6.1/dist/js/bootstrap.js"></script>
<script src="../assets/js/axios-0.18.0.js" type="text/javascript"></script>
<script src="../assets/js/kiton99/vue.global.js"></script>

<!--自个写的js-->
<script src="../assets/js/For_Home.js" type="module"></script>
<script src="../assets/js/For_everything.js"></script>

<script>
	window.onload = function(){
		document.querySelector("#go_dpm_guide").onclick = function(){
			document.querySelector("#dpm_guide").scrollIntoView({
				behavior: 'smooth',
			});
		}
	}
</script>

</body>
</html>